* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: grey;
}



h1 {
    height: 30px;
}

/* Styles for smaller screens (mobile) */

@media (max-width: 513px) {

html {
    -webkit-tap-highlight-color: transparent;
}

.name {
        position: absolute;
        font-size: 1.6em;
        z-index: 6;
        top: 5%;
        right: 16%;
        color: ghostwhite;
    }


.banner {
        width: 100%;
        height: auto;
    }


.full-images {
        position: fixed;
        top: 10%;
        left: -7%;
        
        
        scale: .2;
        z-index: 6;
        
    }

.activate-button {
    color: aliceblue;
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 1em;
    display: block;
}
    
.light_switch {
    height: 12.5rem;
    width: 12rem;
    position: absolute;
    top: 2%;
    right: 66%;
    transform: translate(3.1rem, 2rem);
    background: none;
    border: none;
    font-size:0;
    z-index: 5;
    display: block;

}

.resume-button {
    position: absolute;
    padding: 10px 20px; /* Add padding for visual space */
    top: 19%;
    left: 45%;
    background-color: #ebdfab; /* Example background color */
    color: rgb(136, 108, 49); /* Example text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Optional: Add rounded corners */
    cursor: pointer; /* Indicate it's clickable */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Optional: Add a hover effect */
    display: none;
  }
  
  .resume-button:hover {
    background-color: #97906d; /* Example background color */
  }

#hide-button {
    position: fixed;
    display: none;
    background: none;
    width: 100%;
    height: 100%;
    
    z-index: 3;
}

#img-full-1 {
    position: absolute;
    visibility: hidden;
    transform: scale(3);
    top: 800px;
    left: 800px;
    z-index: 1;
}



#img-full-2 {
    position: absolute;
    visibility: hidden;
    top: 500px;
    left: 125px;
    z-index: 1;
}

#img-full-3 {
    position: absolute;
    visibility: hidden;
    top: 500px;
    left:360px;
    z-index: 1;
}

#img-full-4 {
    position: absolute;
    visibility: hidden;
    top: 500px;
    left:360px;
    z-index: 1;
}

#img-full-5 {
    position: absolute;
    visibility: hidden;
    top: 500px;
    left:360px;
    z-index: 1;
}

#img-full-6 {
    position: absolute;
    visibility: hidden;
    top: 500px;
    left:360px;
    z-index: 1;
}

#img-full-7 {
    position: absolute;
    visibility: hidden;
    top: 500px;
    left:360px;
    z-index: 1;
}

#img-full-8 {
    position: absolute;
    visibility: hidden;
    top: 500px;
    left:360px;
    z-index: 1;
}

#img-full-9 {
    position: absolute;
    visibility: hidden;
    scale: 2.7;
    top: 550px;
    left:710px;
    z-index: 1;
}

#img-full-10 {
    position: absolute;
    visibility: hidden;
    scale: 1.25;
    top: 500px;
    left:360px;
    z-index: 1;
}

#img-full-11 {
    position: absolute;
    visibility: hidden;
    transform: rotate(90deg);
    scale: .85;
    top: 150px;
    left: 325px;
    z-index: 1;
}

.img-button {
    scale: .8;
}

#img-button-1 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 330px;
    top: 0px;
    width: 200px;
    height: 200px;
}

#img-button-2 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 660px;
    top: 0px;
    width: 200px;
    height: 200px;
}

#img-button-3 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 50px;
    top: 20px;
    width: 200px;
    height: 200px;
}

#img-button-4 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 370px;
    top: 20px;
    width: 200px;
    height: 200px;
}

#img-button-5 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 820px;
    top: 20px;
    width: 200px;
    height: 200px;
}

#img-button-6 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 1190px;
    top: 20px;
    width: 200px;
    height: 200px;
}

#img-button-7 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 1470px;
    top: 10px;
    width: 200px;
    height: 200px;
}

#img-button-8 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 1800px;
    top: 10px;
    width: 200px;
    height: 200px;
}

#img-button-9 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 945px;
    top: 10px;
    width: 200px;
    height: 200px;
}

#img-button-10 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 1255px;
    top: 10px;
    width: 200px;
    height: 200px;
}

#img-button-11 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    left: 1565px;
    top: 10px;
    width: 200px;
    height: 200px;
}

.container-holder {
    position: relative;
    display: flex;
    width: 100vw;
    height: auto;
    margin: auto;
    justify-content: center;
    right: 12%;
    transform: scale(.45);
    width: 100%;
}

.container {
    padding: 0 1.5rem;
}

.slider-wrapper {
    position: relative;
    max-width: 37rem;
    margin: 0 auto;
    left: 60px;
}

.slider {
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20%;
}


.section_title {
    position: relative;
    justify-content: center;
    bottom: 60px;
    left: 780%;
}

.projects {
    position: relative;
    text-align: center;
    top:8%;
    left: 30%;
}

.models {
    position: relative;
    left: 30%;
    margin-top: 10%;
}

.title {
    position: relative;
    right: 50%;
    top: 78%;
}

.computer-title {
    right: 50%;
    top: 15px;
}

.beach  {
    right: 80%;
    top: 10px;
}

.bingo {
    right: 80%;
    top: 10px;
}

.portfolio {
    right: 45%;
    top: 10px;
}

.reel {
    right: 35%;
    top: 10px;
}

.sports {
    right: 40%;
    top: 10px;
}

.artschool {
    right: 50%;
    top: 10px;
}

.steps {
    right: 40%;
    top: 10px;
}

.intro {
    right: 95%;
    top: 10px;
}

.graph {
    right: 85%;
    top: 10px;
}

.pros {
    right: 90%;
    top: 10px;
}

.charts {
    right: 85%;
    top: 10px;
}

.charts-2 {
    right: 85%;
    top: 10px;
}

.model-title {
    right: 94%;
    top: 10px;
}

.slide-image {
    border-radius: 50%;
    position: relative;
    transform: translateX(50px);
    top: 25%;
    flex: 1 0 100%;
    scroll-snap-align: center;
    width: 130px;
    height: 130px;
    margin: 0 2rem 2rem;

}

.down-scale {
    transform: scaleX(.7);
    top: 40px;
}


.slider-nav {
display: flex;
column-gap: 1.2rem;
position: relative;
top: 8%;
left: 33%;
z-index: 1;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav-2 {
    display: flex;
    column-gap: 1.7rem;
    position: relative;
    margin-top: 10%;
    left: 5%;
    z-index: 1;
    }

.slider-nav-2 a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
    }

    .slider-nav-3 {
        display: flex;
        column-gap: 1.2rem;
        position: relative;
        margin-top: 10%;
        
        z-index: 1;
        }
    
    .slider-nav-3 a {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #fff;
        opacity: .75;
        transition: opacity ease 250ms;
        }
    


.slider-nav a:hover {
    opacity: 100%;
    transform: scale(1.2);
}
}



    

    /* Styles for larger screens */

    @media (min-width: 514px) {

        .name {
            position: absolute;
            font-size: 5em;
            z-index: 1;
            top: 8%;
            left: 50%;
            color: ghostwhite;
        }


        .banner {
            position: relative;
            object-fit: cover;
            right: 200px;
            
        }

        .full-images {
            position: fixed;
            top: 0%;
            right: 98%;
            transform: translateY(-50%,);
            margin: auto;
            scale: .75;
            z-index: 2;
            object-fit: contain;
        }

        #dark {
            position: absolute;
            height: 550vh;
            width: 550vw;
            left: -80px;
            background-color: rgba(0, 0, 0, 0.6);
            visibility: hidden;
        }

        #hide-button {
            position: fixed;
            display: none;
            background: none;
            width: 100%;
            height: 100%;
            
            z-index: 3;
        }
        
        #img-full-1 {
            position: absolute;
            visibility: hidden;
            transform: scale(3);
            top: 800px;
            left: 800px;
            z-index: 1;
        }
        
        
        
        #img-full-2 {
            position: absolute;
            visibility: hidden;
            top: 500px;
            left: 125px;
            z-index: 1;
        }
        
        #img-full-3 {
            position: absolute;
            visibility: hidden;
            top: 500px;
            left:360px;
            z-index: 1;
        }
        
        #img-full-4 {
            position: absolute;
            visibility: hidden;
            top: 500px;
            left:360px;
            z-index: 1;
        }
        
        #img-full-5 {
            position: absolute;
            visibility: hidden;
            top: 500px;
            left:360px;
            z-index: 1;
        }
        
        #img-full-6 {
            position: absolute;
            visibility: hidden;
            top: 500px;
            left:360px;
            z-index: 1;
        }
        
        #img-full-7 {
            position: absolute;
            visibility: hidden;
            top: 500px;
            left:360px;
            z-index: 1;
        }
        
        #img-full-8 {
            position: absolute;
            visibility: hidden;
            top: 500px;
            left:360px;
            z-index: 1;
        }
        
        #img-full-9 {
            position: absolute;
            visibility: hidden;
            scale: 2.7;
            top: 550px;
            left:710px;
            z-index: 1;
        }
        
        #img-full-10 {
            position: absolute;
            visibility: hidden;
            scale: 1.25;
            top: 500px;
            left:360px;
            z-index: 1;
        }
        
        #img-full-11 {
            position: absolute;
            visibility: hidden;
            transform: rotate(90deg);
            scale: .85;
            top: 150px;
            left: 325px;
            z-index: 1;
        }
        
        .img-button {
            scale: .8;
        }
        
        #img-button-1 {
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2;
            left: 350px;
            top: 15px;
            width: 200px;
            height: 200px;
        }
        
        #img-button-2 {
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2;
            left: 680px;
            top: 15px;
            width: 200px;
            height: 200px;
        }
        
        #img-button-3 {
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2;
            left: 30px;
            top: 20px;
            width: 200px;
            height: 200px;
        }
        
        #img-button-4 {
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2;
            left: 430px;
            top: 20px;
            width: 200px;
            height: 200px;
        }
        
        #img-button-5 {
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2;
            left: 770px;
            top: 20px;
            width: 200px;
            height: 200px;
        }
        
        #img-button-6 {
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2;
            left: 1135px;
            top: 20px;
            width: 200px;
            height: 200px;
        }
        
        #img-button-7 {
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2;
            left: 1470px;
            top: 10px;
            width: 200px;
            height: 200px;
        }
        
        #img-button-8 {
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2;
            left: 1810px;
            top: 10px;
            width: 200px;
            height: 200px;
        }
        
        #img-button-9 {
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2;
            left: 1005px;
            top: 10px;
            width: 200px;
            height: 200px;
        }
        
        #img-button-10 {
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2;
            left: 1332px;
            top: 10px;
            width: 200px;
            height: 200px;
        }
        
        #img-button-11 {
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 2;
            left: 1655px;
            top: 10px;
            width: 200px;
            height: 200px;
        }

        .activate-button {
            color: aliceblue;
            position: absolute;
            font-size: 5em;
            width: 450px;
            top: 15rem;
            left: 520px;
            font-size: 2em;
            display: block;
        }

        .lighthouse_container {
            position: relative;
            width: 100vw;
            height: 100vh;
            left: 50px;
            scale: 1.1;
        }



        .light_switch {
            height: 36rem;
            width: 26rem;
            position: absolute;
            top: 340px;
            left: 270px;
            
            background: none;
            border: none;
            font-size:0;
            z-index: 5;
            display: block;
        }

        .resume-button {
            position: absolute;
            padding: 10px 20px; /* Add padding for visual space */
            top: 300px;
            left: 1000px;
            background-color: #ebdfab; /* Example background color */
            color: rgb(136, 108, 49); /* Example text color */
            text-decoration: none; /* Remove underline */
            border-radius: 5px; /* Optional: Add rounded corners */
            cursor: pointer; /* Indicate it's clickable */
            font-weight: bold;
            font-size: 2em;
            transition: background-color 0.3s ease; /* Optional: Add a hover effect */
            display: none;
          }

          .resume-button:hover {
            background-color: #97906d; /* Example background color */
          }
    
        .container-holder {
            position: absolute;
            display: flex;
            
           
            transform: scale(1.3);
            margin-top: 4%;
            left: 800px;
            top: 650px;
        }
        
        .container {
            padding: 2rem;
        }
        
        .slider-wrapper {
            position: relative;
            max-width: 37rem;
            margin: 0 auto;
            left: 60px;
        }
        
        .slider {
            position: relative;
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            width: 200px;
            height: 200px;
            background: rgba(255, 255, 255, 0.377);
        }

        .section_title {
            position: relative;
            text-align: center;
            top: -15%;
            left: 530%;
            font-size: 2.5em;
            color: antiquewhite;
        }
        
        .projects {
            position: relative;
            text-align: center;
            top:25%;
            left: 30%;
            color:bisque;
        }
        
        .models {
            position: relative;
            left: 30%;
            margin-top: -15px;
        }
        
        .title {
            position: relative;
            right: 50%;
            top: 78%;
        }
        
        .computer-title {
            right: 54%;
            top: 10px;
        }
        
        .beach  {
            right: 80%;
            top: 10px;
        }
        
        .bingo {
            right: 80%;
            top: 10px;
        }
        
        .portfolio {
            right: 49%;
            top: 10px;
        }
        
        .reel {
            right: 41%;
            top: 10px;
        }
        
        .sports {
            right: 46%;
            top: 10px;
        }
        
        .artschool {
            right: 55%;
            top: 10px;
        }
        
        .steps {
            right: 46%;
            top: 10px;
        }
        
        .intro {
            right: 95%;
            top: 10px;
        }
        
        .graph {
            right: 85%;
            top: 10px;
        }
        
        .pros {
            right: 92%;
            top: 10px;
        }
        
        .charts {
            right: 85%;
            top: 10px;
        }
        
        .charts-2 {
            right: 85%;
            top: 10px;
        }
        
        .model-title {
            right: 85%;
            top: 10px;
        }

        .slide-image {
            border-radius: 50%;
            position: relative;
            transform: translateX(50px);
            top: 20%;
            flex: 1 0 100%;
            scroll-snap-align: center;
            width: 150px;
            height: 150px;
            margin: 0 2rem 2rem;
        
        }
        
        .down-scale {
            transform: scaleX(.8);
            top: 40px;
        }
        
        .slider-nav {
        display: flex;
        column-gap: 1.5rem;
        position: relative;
        bottom: -10%;
        left: 28%;
        z-index: 1;
        }
        
        .slider-nav a {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: #fff;
            opacity: .75;
            transition: opacity ease 250ms;
        }
        
        .slider-nav-2 {
            display: flex;
            column-gap: 1.8rem;
            position: absolute;
            bottom: -20%;
            left: 5px;
            z-index: 1;
            }
        
        .slider-nav-2 a {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: #fff;
            opacity: .75;
            transition: opacity ease 250ms;
            }
        
            .slider-nav-3 {
                display: flex;
                column-gap: 1.2rem;
                position: absolute;
                bottom: -20%;
                left: 5px;
                z-index: 1;
                }
            
            .slider-nav-3 a {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: #fff;
                opacity: .75;
                transition: opacity ease 250ms;
                }
            
        
        
        .slider-nav a:hover {
            opacity: 100%;
        }
        }
